*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

h1 {
  font-size: 2em; 
  font-weight: bold; 

}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bgHeader1 : #5693a9;
  --bhHeader2 : #3E5BC1;

}

body {
  margin: 0;
  height: 100vh;
  background: white;
}

#header {
  display:flex;
  gap: 1rem;
  background: linear-gradient(to right, var(--bgHeader1), var(--bhHeader2));
  height: 8vh;
  align-items: center;
  font-size: 1.4rem;
  text-shadow: 
    -0.25px -0.5px 0 #000,  
     0.25px -0.5px 0 #000,
    -0.25px  0.5px 0 #000,
     0.25px  0.5px 0 #000; 

  a {
    margin: 0 0.75rem;
  }
}

#main {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: black;
  padding-bottom: 5rem;
}

#new-project, #projects-list {
  flex: 1; 
  max-width: 50%; 
  display: flex;
  flex-direction: column;
}

#projects-list {
  overflow-y: auto; 
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

li {
  gap: 1rem;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
}

.project-objective,
.project-languages {
  font-size: 16px;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#add-project-btn {
  margin: 20px 0;
  padding: 10px 20px;;
  background: grey;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem;
  height: 3rem;
  text-shadow: 
    -0.25px -0.5px 0 #000,  
     0.25px -0.5px 0 #000,
    -0.25px  0.5px 0 #000,
     0.25px  0.5px 0 #000;  
}

#add-project-btn:hover {
  background-color: #666;
}

form {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

  div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  input::placeholder,
  textarea::placeholder {
    color: #888;
    font-style: italic;
    font-size: 75%;
  }
}

#footer {
  display:flex;
  bottom: 0;
  background: linear-gradient(to right, var(--bgHeader1), var(--bhHeader2));
  height: 4rem;
  width: 100%;
  align-items: center;
  font-size: 1.4rem;
  justify-content: center;
  font-size: 75%;
  text-shadow: 
    -0.25px -0.5px 0 #000,  
     0.25px -0.5px 0 #000,
    -0.25px  0.5px 0 #000,
     0.25px  0.5px 0 #000; 
}